@import "tailwindcss";

#root {
  margin: 0 auto;
}

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  
  --color-beige: #E1E6CE;
  --color-off-white: #FCFBFE;
  --color-moss-green: #8D9A5B;
  --color-mindaro: #C6DF84;
  --color-seasalt: #FAFAFA;
  --color-jet: #333333;
}

@layer base {
  body {
    @apply font-montserrat;
  }
}